<div class="pie-container">
  <div class="row">
    <!-- Pie chart na LEVI strani -->
    <div class="col-md-5" id="pieChart"></div>
    
    <!-- Besedilo na DESNI strani -->
    <div id="pieText" class="col-md-7 text-container">
      <div class="panel">
        <div class="content-wrapper">
          <h1 id="segmentTitle">Podatki, uporabljeni za naš DFP</h1>
          <p id="segmentText">Za več informacij o podatku kliknite nanj. Podatki so prikazani v krugu na levi strani.</p>
        </div>
      </div>
    </div>
  </div>
</div>